<html>
	<head><title>LOST User Registration</title></head>
	<body>
		<h2>Please choose a username and password.</h2>
		<form action="{{url_for('create_user')}}" method=post>
			<dl>
				<dt><b>Username:</b>
				<dd><input type=text name=username maxlength=16>
				<dt><b>Password:</b>
				<dd><input type=password name=password maxlength=64>
				<dt><b>Role:</b>
				<dd><select name=role>
					<option value="Logistics Officer">Logistics Officer</option>
					<option value="Facilities Officer">Facilities Officer</option>
				</select>
				<dd><input type=submit value=Register>
			</dl>
		</form><br>
		Click <a href="{{url_for('login')}}">here</a> to login.
	</body>
</html>