<html>
	<head><title>LOST Dashboard</title></head>
	<body>
		<h2>Your username is {{session.username}}.</h2>
		Click <a href="{{url_for('add_facility')}}">here</a> to add a facility to LOST. <br>
		Click <a href="{{url_for('add_asset')}}">here</a> to add an asset to LOST. <br>
		Click <a href="{{url_for('asset_report')}}">here</a> to see a list of assets LOST controls at a specific time. <br>
		Click <a href="{{url_for('transfer_report')}}">here</a> to see a list of assets in transit at a specific time. <br>
		{% if session.role == 'Logistics Officer' %}
		Click <a href="{{url_for('dispose_asset')}}">here</a> to dispose of an asset. <br>
		Click <a href="{{url_for('transfer_req')}}">here</a> to initiate a transfer request. <br>
		<table border = "1">
			<tr>
				<th>Transit Request ID</th>
				<th>Load Time</th>
				<th>Unload Time</th>
			</tr>
			{% for entry in session.todo %}
			<tr>
				<td><a href="{{url_for('update_transit')}}?transfer_id={{entry.req_id}}">{{entry.req_id}}</a></td>
				<td>{% if entry.load_dt != None %}
					{{entry.load_dt}}
					{% else %}
					TODO: Load time not set
					{% endif %}
				</td>
				<td>{% if entry.unload_dt != None %}
					{{entry.unload_dt}}
					{% else %}
					TODO: Unload time not set
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>

		{% endif %}
		{% if session.role == 'Facilities Officer' %}
		<table border = "1">
			<tr>
				<th>Transit Request ID</th>
				<th>Request Time</th>
				<th>Requester</th>
			</tr>
			{% for entry in session.todo %}
			<tr>
				<td><a href="{{url_for('approve_req')}}?req_id={{entry.req_id}}">{{entry.req_id}}</a></td>
				<td>{{entry.req_time}}</td>
				<td>{{entry.requester}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

		<br>
		Click <a href="{{url_for('logout')}}">here</a> to logout.
	</body>
</html>