<html>
	<head><title>Facility Report Page</title></head>
	<body>
		<h1>Facility Report</h1>
		<table border="1">
			<tr>
				<th>Facility</th>
				<th>Asset Tag</th>
				<th>Asset Description</th>
				<th>Time of arrival</th>
				<th>Time of departure</th>
			</tr>
			{% for entry in session.facility_report %}
			<tr>
				<td>{{ entry.common_name }}</td>
				<td>{{ entry.asset_tag }}</td>
				<td>{{ entry.asset_description }}</td>
				<td>{{ entry.arrive_dt }}</td>
				<td>{{ entry.depart_dt }}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		Click <a href="{{url_for('logout')}}">here</a> to logout.
		<br>
		Click <a href="{{url_for('report_filter')}}">here</a> to go back to the filter screen.
	</body>
</html>