<html>
	<head><title>Report Filter Page</title></head>
	<body>
		<form action="{{url_for('report_filter')}}" method=post>
			<dl>
				<dd><input type="radio" name="filter" value="Facility" checked><label for="Facility">Facility report</label>
				<dd><input type="radio" name="filter" value="Transit"><label for="Transit">Transit report</label>
				<dt>Enter a date to filter by:
				<dd><input type="date" name="filter_date">
				<dt>Choose a facility (If requesting facility report)
				<dd><select name="filter_fcode">
					<option value="SPNV">SPNV</option>
					<option value="NC">NC</option>
					<option value="MB005">MB005</option>
					<option value="HQ">HQ</option>
					<option value="DC">DC</option>
					<option value="GL">GL</option>
					<option value="LANM">LANM</option>
					<option value="S300">S300</option>
				</select>
				<dd><input type=submit value=Continue>
			</dl>
		</form>
	</body>
</html>