<html>
	<head><title>LOST API call description</title></head>
	<body>
		<h2>TODO: Add JSON examples</h2>
		<b>petunia.cs.uoregon.edu:9090/rest/lost_key</b> -- Returns the LOST public key for encryption and decryption purposes. <br>
		Request: The request does not provide values for any of the arguments though the data and signature fields must be present in the request.
		Response: result -- ‘OK’ or ‘FAIL’<br> 
		key -- The LOST public key<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"result": "OK",
			"key": "bksaoudu......aoelchsauh"
		}</pre>
		<b>petunia.cs.uoregon.edu:9090/rest/activate_user</b> -- Reactivates LOST access for a user or generates a new user account as needed. <br>
		Request: username -- OSNAP username to activate<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"username": "carter"
		}</pre>
		Response: result -- ‘OK’, ‘NEW’, or ‘FAIL’<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"result": "OK"
		}</pre>
		<b>petunia.cs.uoregon.edu:9090/rest/suspend_user</b> -- Revokes access for a user. If the user does not exist or is already inactive, this call has no effect. <br>
		Request: username OSNAP username to revoke<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"username": "jackson"
		}</pre>
		Response: result ‘OK’<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"result": "OK"
		}</pre>
		<b>petunia.cs.uoregon.edu:9090/rest/list_products</b> -- Requests a listing of all products in LOST based on a filter criteria. <br>
		Request: vendor -- Case insensitive string to match against vendor name<br>
		description -- Case insensitive string to match against product description<br>
		compartments -- Security tags for the asset as a json array, all tags must be matched for compartment and level.<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"vendor": "",
			"description": "notepad",
			"compartments": []
		}</pre>
		Response: listing -- a json list containing the product information entries
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"listing": [
				{
					"vendor": "Dunder Mifflin",
					"description": "LOST legal size notepad",
					"compartments": []
				},
				{
					"vendor": "big n large",
					"description": "LOST legal size notepad"
					"compartments": []
				}
			]
		}</pre>
		<b>petunia.cs.uoregon.edu:9090/rest/add_product</b> -- Adds products to LOST. Takes a JSON as input, returns either "OK" or "FAIL". <br>
		Request: new products -- a json list describing the new products <br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"new_products": [
				{
					"vendor": "Dunder Mifflin",
					"description": "LOST letter size notepad",
					"alt_description": "Children’s storybook"
					"compartments": ["adm:s"]
				},
				{
					"vendor": "Stark Industries",
					"description": "Micronized Arc Reactor",
					"alt_description": "Baseball"
					"compartments": ["nrg:ts","wpn:s"]
				}
		}</pre>
		Response: result -- ‘OK’, or ‘FAIL’ <br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"result": "OK"
		}</pre>
		<b>petunia.cs.uoregon.edu:9090/rest/add_asset</b> -- Adds a new asset to LOST. <br>
		Request: vendor -- Vendor of the product<br>
		description -- Description of the product<br>
		compartments -- Additional compartments the asset should be classified under<br>
		facility -- Facility code the asset is initially housed at<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"vendor": "Dunder Mifflin",
			"description": "LOST letter size notepad",
			"compartments": ["wpn:ts"],
			"facility": "HQ"
		}</pre>
		Response: result -- ‘OK’, or ‘FAIL’<br>
		Example:<pre>
		{
			"timestamp": "2017-02-02 06:15:13",
			"result": "OK"
		}</pre>
	</body>
</html>
