<html>
	<head><title>Transit Report Page</title></head>
	<body>
		<h1>Transit Report</h1>
		<table border="1">
			<tr>
				<th>Source Facility</th>
				<th>Dest Facility</th>
				<th>Asset Tag</th>
				<th>Asset Description</th>
				<th>Load Time</th>
				<th>Unload Time</th>
			</tr>
			{% for entry in session.transit_report %}
			<tr>
				<td>{{ entry.source }}</td>
				<td>{{ entry.destination }}</td>
				<td>{{ entry.asset_tag }}</td>
				<td>{{ entry.asset_description }}</td>
				<td>{{ entry.load_dt }}</td>
				<td>{{ entry.unload_dt }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>